<%- include('./partials/head.ejs') %>

    <h2 class="section-title">Producten</h2>
    <a href="#" class="section-all">Startpagina / Producten</a>

    <section class="product section" id="products">

        <% producten.forEach(product=> { %>
            <div class="product-container bd-grid">
                <div class="product">
                    <div class="product-box">
                        <!-- <div class="product-new">
                            <%= product.categorie.titel %>
                        </div> -->
                        <a href="/detail/?detailSlug=<%= product.slug %>">

                            <img src="/img/pinda_3stappen.png" alt="foto pinda 3 stappen" class="product-img"> </a>
                    </div>


                    <div class="product-data">
                        <h3 class="product-name">
                            <%= product.titel %>
                        </h3>
                        <span class="product-price">
                            € <%= product.prijs %>
                        </span>
                    </div>
                </div>
            </div>
            <% }) %>
    </section>

    <%- include('./partials/foot.ejs') %>