<%- include('./partials/head.ejs') %>

    <h2 class="section-title">Producten</h2>
    <a href="#" class="section-all">Startpagina / Producten</a>

    <section class="product section" id="products">
        <% producten.forEach(product=> { %>
            <% console.log(product) %>

                <div class="product-container bd-grid">
                    <div class="product">
                        <div class="product-box">
                            <!-- <div class="product-new">
                            <%= product.categorie.titel %>
                        </div> -->
                            <a href="/detail/?detailSlug=<%= product.slug %>">
                            </a>
                        </div>
                        <% if(product.plaatjes.length) { %>
                            <a href="/detail/?detailSlug=<%= product.slug %>"><img src="<%= product.plaatjes[0].url %>"
                                    alt="plaatjuh" class="plaat" /></a>

                            <% }else{ %>
                                <img src="/img/placeholder.png" alt="Placeholder pinda" class="plaat" />
                                <% } %>

                                    <div class="product-data">
                                        <h3 class="product-name">
                                            <%= product.titel %>
                                        </h3>
                                        <span class="product-price">
                                            € <%= product.prijs %>
                                        </span>
                                    </div>
                    </div>
                </div>
                <% }) %>
    </section>

    <%- include('./partials/foot.ejs') %>